button {
  background-color: var(--primary);
  color: white;
  margin: 8px;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 20px;
  border-radius: 4px;
  box-shadow: var(--button-shadow);
  outline: 0;
  letter-spacing: 0.04em;
  transition: all 0.5s ease;
  cursor: pointer;
}

button:hover {
  box-shadow: var(--button-shadow-hover);
  transform: translateY(1px);
}
