header {
  background: var(--primary);
  color: var(--primary-text);
  height: 56px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

h1 {
  font-size: 1.4rem;
  color: var(--primary-text);
  padding: 0 12px;
}
